@tailwind base;
@tailwind components;
@tailwind utilities;

body
{
    background-image: url(./assets/images/bg.avif);
    background-size: 100% 100%;
    min-height: 100vh;
    width: 100vw;
}
tr,td,th{
    
    border:2px dashed indigo;
    padding: 8px;
    color:blue;
}